textarea {
    border:1px solid #999999;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    height: 200px;
    width: 500px;
    border: 1px solid black;
}

canvas {
    border: 1px solid black;
}

.center {
    text-align: center;
}

#errors {
	width: 500px;
	display: inline-block;
	color: red;
}
